{% extends "base.html" %}

<!--
    Questa pagina serve per far immettere i dati di un volo all'operatore per modificarli.
    L'operatore seleziona il volo del quale vuole modificare i dati. I dati inseriti
    vengono poi passati a flask che fara' l'aggiornamento dei dati del volo nel database.
    Tutti i dati da inserire sono obbligatori.
-->

{% block head %}
<style>
    .btn-grp {
        max-width: 30%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .container {
        max-width: 330px;
    }
</style>
{% endblock %}

{% block pagebody %}
<!-- Intestazione -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mt-5">
    <p class="lead mt-3">Seleziona il volo che vuoi modificare.</p>
</div>

<form class="btn-grp mx-auto" action="{{url_for('modificaVolo')}}" method="post">
    <p class="text-left mt-2 mb-1 ml-2">Lista voli</p>
    <!-- Volo da scegliere da modificare -->
    <select id="codice" name="codice" class="form-control mb-1" required autofocus>
        {% for row in voli %} <!-- Ciclo for per scorrere tutte le righe della tabella con i voli -->
        <!-- Per ogni riga della tabella -->
        <option value="{{row['Parte']}} - {{row['Arriva']}} - Durata: {{row['Durata']}} - Codice: {{row['CodVoli']}}">{{row['Parte']}} - {{row['Arriva']}} - Durata: {{row['Durata']}} - Codice: {{row['CodVoli']}}</option>
        {% endfor %}
    </select>
    <br />
    <br />
    <div class="container">
        <label for="first" class="sr-only">Prezzo first class</label>
        <!-- Prezzo del biglietto di first class da inserire per essere aggiornato -->
        <input type="number" name="first" id="first" class="form-control mb-1" placeholder="Prezzo first class" required autofocus />

        <label for="business" class="sr-only">Prezzo business class</label>
        <!-- Prezzo del biglietto di business class da inserire per essere aggiornato -->
        <input type="number" name="business" id="business" class="form-control mb-1" placeholder="Prezzo business class" required autofocus />

        <label for="economy" class="sr-only">Prezzo economy class</label>
        <!-- Prezzo del biglietto di economy class da inserire per essere aggiornato -->
        <input type="number" name="economy" id="economy" class="form-control mb-1" placeholder="Prezzo economy class" required autofocus />

        <label for="sconto" class="sr-only">Sconto</label>
        <!-- Sconto da inserire per essere aggiornato -->
        <input type="number" name="sconto" id="sconto" max="100" min="0" class="form-control" placeholder="Sconto" required autofocus />
    </div>
    <br />
    <br />
    <!-- Input per la modifica dei dati -->
    <input id="modifica" class="btn btn-outline-success btn-block" type="submit" name="Modifica" value="Modifica" />
</form>
{% endblock %}